---
Language: Cpp
Standard: c++20

BasedOnStyle: LLVM

ColumnLimit: 0

TabWidth: 4
IndentWidth: 4
BracedInitializerIndentWidth: 4
AccessModifierOffset: -2

IndentCaseLabels: true
IndentExternBlock: Indent
IndentRequiresClause: true

BreakAfterOpenBracketBracedList: true
BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketIf: true
BreakAfterOpenBracketLoop: true
BreakAfterOpenBracketSwitch: true
BreakAfterReturnType: Automatic
BreakArrays: false
BreakBeforeBinaryOperators: NonAssignment

BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: true
BreakBeforeCloseBracketIf: true
BreakBeforeCloseBracketLoop: true
BreakBeforeCloseBracketSwitch: true
BreakBeforeTemplateCloser: true
BreakBinaryOperations: RespectPrecedence
BreakFunctionDefinitionParameters: true
BreakInheritanceList: AfterComma
BreakTemplateDeclarations: Yes

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

SpaceAfterOperatorKeyword: true
SpaceAroundPointerQualifiers: Before
SpaceBeforeCpp11BracedList: true
SpaceInEmptyBraces: Block
SpacesInContainerLiterals: false

AlignAfterOpenBracket: false
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: false
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignFunctionDeclarations: true
  AlignFunctionPointers: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCaseArrows: true
  AlignCaseColons: true
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: AlignAfterOperator
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
  AlignPPAndNotPP: true

AllowBreakBeforeNoexceptSpecifier: OnlyWithParen
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty

KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: false
  AtStartOfFile: false
MaxEmptyLinesToKeep: 5
RemoveEmptyLinesInUnwrappedLines: true
SeparateDefinitionBlocks: Always

Cpp11BracedListStyle: Block
RemoveParentheses: ReturnStatement
RemoveSemicolon: true

BinPackArguments: false
BinPackLongBracedList: false
PackConstructorInitializers: Never

PointerAlignment: Left
QualifierAlignment: Custom
QualifierOrder:
  - static
  - inline
  - friend
  - constexpr
  - const
  - volatile
  - restrict
  - type
ReferenceAlignment: Left

AttributeMacros:
  - api
IndentPPDirectives: AfterHash
PPIndentWidth: 3

IncludeCategories:
  - Regex: '^"([^/]+/)*'
    Priority: 0
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^<.*'
    Priority: 1
  - Regex: '^(<|")(boost|Qt|glm|glfw|glew|fmt|json|gtest|etc)/.*'
    Priority: 2
  - Regex: '.*'
    Priority: 3
SortIncludes:
  Enabled: true
  IgnoreCase: false
  IgnoreExtension: true

FixNamespaceComments: false
OneLineFormatOffRegex: "(NOLINT)"
ReflowComments: Never

NamespaceIndentation: All
WrapNamespaceBodyWithEmptyLines: Never

EnumTrailingComma: Insert
InsertNewlineAtEOF: true
IntegerLiteralSeparator:
  Binary: 4
  BinaryMinDigitsInsert: 9
  BinaryMaxDigitsRemove: 8
  Decimal: 3
  DecimalMinDigitsInsert: 7
  DecimalMaxDigitsRemove: 6
  Hex: 2
  HexMinDigitsInsert: 7
  HexMaxDigitsRemove: 6
LineEnding: LF
NumericLiteralCase:
  ExponentLetter: Lower
  HexDigit: Upper
  Prefix: Lower
  Suffix: Lower
RawStringFormats:
  - Language: Json
    Delimiters:
      - "JSON"
    BasedOnStyle: llvm

PenaltyBreakAssignment: 500
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakBeforeMemberAccess: 100
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakOpenParenthesis: 0
PenaltyBreakScopeResolution: 500
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 10000
PenaltyIndentedWhitespace: 0
PenaltyReturnTypeOnItsOwnLine: 500
