---
Language: ;
Standard: ;

BasedOnStyle: ;

TabWidth: ;
UseTab: ;

IndentWidth: ;
ContinuationIndentWidth: ;

IndentAccessModifiers: ;
IndentCaseBlocks: ;
IndentCaseLabels: ;
IndentExportBlock: ;
IndentExternBlock: ;
IndentGotoLabels: ;
IndentRequiresClause: ;
IndentWrappedFunctionNames: ;
LambdaBodyIndentation: ;
BracedInitializerIndentWidth: ;
ConstructorInitializerIndentWidth: ;
RequiresExpressionIndentation: ;

ColumnLimit: ;

AlwaysBreakBeforeMultilineStrings: ;
BreakAdjacentStringLiterals: ;
BreakAfterAttributes: ;
BreakAfterOpenBracketBracedList: ;
BreakAfterOpenBracketFunction: ;
BreakAfterOpenBracketIf: ;
BreakAfterOpenBracketLoop: ;
BreakAfterOpenBracketSwitch: ;
BreakAfterReturnType: ;
BreakArrays: ;
BreakBeforeBinaryOperators: ;
BreakBeforeBraces: ;
BreakBeforeCloseBracketBracedList: ;
BreakBeforeCloseBracketFunction: ;
BreakBeforeCloseBracketIf: ;
BreakBeforeCloseBracketLoop: ;
BreakBeforeCloseBracketSwitch: ;
BreakBeforeConceptDeclarations: ;
BreakBeforeInlineASMColon: ;
BreakBeforeTemplateCloser: ;
BreakBeforeTernaryOperators: ;
BreakBinaryOperations: ;
BreakConstructorInitializers: ;
BreakFunctionDefinitionParameters: ;
BreakInheritanceList: ;
BreakStringLiterals: ;
BreakTemplateDeclarations: ;

BitFieldColonSpacing: ;
SpaceAfterCStyleCast: ;
SpaceAfterLogicalNot: ;
SpaceAfterOperatorKeyword: ;
SpaceAfterTemplateKeyword: ;
SpaceAroundPointerQualifiers: ;
SpaceBeforeAssignmentOperators: ;
SpaceBeforeCaseColon: ;
SpaceBeforeCpp11BracedList: ;
SpaceBeforeCtorInitializerColon: ;
SpaceBeforeInheritanceColon: ;
SpaceBeforeJsonColon: ;
SpaceBeforeParens: ;
SpaceBeforeParensOptions: ;
SpaceBeforeRangeBasedForLoopColon: ;
SpaceBeforeSquareBrackets: ;
SpaceInEmptyBraces: ;
SpacesBeforeTrailingComments: ;
SpacesInAngles: ;
SpacesInContainerLiterals: ;
SpacesInLineCommentPrefix: ;
SpacesInParens: ;
SpacesInParensOptions: ;
SpacesInSquareBrackets: ;

AlignAfterOpenBracket: ;
AlignArrayOfStructures: ;
AlignConsecutiveAssignments: ;
AlignConsecutiveBitFields: ;
AlignConsecutiveDeclarations: ;
AlignConsecutiveMacros: ;
AlignConsecutiveShortCaseStatements: ;
AlignEscapedNewlines: ;
AlignOperands: ;
AlignTrailingComments: ;

AllowAllArgumentsOnNextLine: ;
AllowAllParametersOfDeclarationOnNextLine: ;
AllowBreakBeforeNoexceptSpecifier: ;
AllowShortBlocksOnASingleLine: ;
AllowShortCaseExpressionOnASingleLine: ;
AllowShortCaseLabelsOnASingleLine: ;
AllowShortCompoundRequirementOnASingleLine: ;
AllowShortEnumsOnASingleLine: ;
AllowShortFunctionsOnASingleLine: ;
AllowShortIfStatementsOnASingleLine: ;
AllowShortLambdasOnASingleLine: ;
AllowShortLoopsOnASingleLine: ;
AllowShortNamespacesOnASingleLine: ;

EmptyLineAfterAccessModifier: ;
EmptyLineBeforeAccessModifier: ;
KeepEmptyLines: ;
MaxEmptyLinesToKeep: ;
RemoveEmptyLinesInUnwrappedLines: ;
SeparateDefinitionBlocks: ;

BraceWrapping: ;
Cpp11BracedListStyle: ;
InsertBraces: ;
RemoveBracesLLVM: ;
RemoveParentheses: ;
RemoveSemicolon: ;

BinPackArguments: ;
BinPackLongBracedList: ;
BinPackParameters: ;
ExperimentalAutoDetectBinPacking: ;
PackConstructorInitializers: ;

DerivePointerAlignment: ;
PointerAlignment: ;
QualifierAlignment: ;
QualifierOrder: ;
ReferenceAlignment: ;
TemplateNames: ;
TypeNames: ;
VariableTemplates: ;

AttributeMacros: ;
ForEachMacros: ;
IfMacros: ;
IndentPPDirectives: ;
MacroBlockBegin: ;
MacroBlockEnd: ;
Macros: ;
MacrosSkippedByRemoveParentheses: ;
NamespaceMacros: ;
PPIndentWidth: ;
SkipMacroDefinitionBody: ;
StatementAttributeLikeMacros: ;
StatementMacros: ;
TypenameMacros: ;
WhitespaceSensitiveMacros: ;

IncludeBlocks: ;
IncludeCategories: ;
IncludeIsMainRegex: ;
IncludeIsMainSourceRegex: ;
MainIncludeChar: ;
SortIncludes: ;

CommentPragmas: ;
FixNamespaceComments: ;
OneLineFormatOffRegex: ;
ReflowComments: ;

AccessModifierOffset: ;
CompactNamespaces: ;
NamespaceIndentation: ;
ShortNamespaceLines: ;
WrapNamespaceBodyWithEmptyLines: ;

EnumTrailingComma: ;
InsertNewlineAtEOF: ;
InsertTrailingCommas: ;
IntegerLiteralSeparator: ;
KeepFormFeed: ;
LineEnding: ;
NumericLiteralCase: ;
RawStringFormats: ;
RequiresClausePosition: ;
SortUsingDeclarations: ;

PenaltyBreakAssignment: ;
PenaltyBreakBeforeFirstCallParameter: ;
PenaltyBreakBeforeMemberAccess: ;
PenaltyBreakComment: ;
PenaltyBreakFirstLessLess: ;
PenaltyBreakOpenParenthesis: ;
PenaltyBreakScopeResolution: ;
PenaltyBreakString: ;
PenaltyBreakTemplateDeclaration: ;
PenaltyExcessCharacter: ;
PenaltyIndentedWhitespace: ;
PenaltyReturnTypeOnItsOwnLine: ;
